
$blue:rgb(10, 29, 78);
$blue-pramiray:rgb(31, 95, 255);
$white:white;
$green:rgb(48, 172, 100);
$font-size:20px;
$paragraph:16px;
$font-para:rgb(102, 93, 93);
$h3:31px;
$h4:18px;
$h5:16px;
$padding:60px;
$padding-md:40px;
$padding-sm:20px;
$font-awesome:15px;
$red:rgb(240, 51, 51);

